<!DOCTYPE html>

<html>

    <head>
        <title>Крайняя страница.</title>
    </head>

    <body>

        <h3>Заголовок</h3>
        <p>Привет из HomeControllera!</p>

        <a href="/home/employees">Список семьи</a>

    </body>

</html>
